.no_margin {
    margin: 0px!important;
}

.no_padding {
    padding: 0px!important;
}

body {
    height: 100vh;
    width: 100vw;
}

#main_menu {
    padding: 5px;
    height: 5.5vh;
    margin-top: 0.75vh;
    margin-bottom: 0.75vh;
    border-radius: 5px;
}

.header {
    height: 7vh;
    width: 100vw;
    background: #273c75;
}

#header_logo {
    height: 7vh;
    padding: 4px;
    float: right;
}

.main_holder {
    height: 93vh;
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

.orderitem_product {
    padding: 10px;
}

.order_item {
    padding: 10px;
}

.tab_holder {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    height: 93vh;
    overflow: scroll;
    overflow-x: hidden;
}

#v-pills-tab {
    padding: 20px;
}

.nav-link.active {
    background: white!important;
    border-radius: 0px;
    color: #273c75!important;
    font-weight: bold;
}

.nav-link {
    background: white!important;
    border-radius: 0px;
    color: black!important;
}

#example_wrapper {
    padding: 15px;
    width: 100%;
}
.buttonmove{
    float: right;
}